@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
html {
  font-family: var(--font-playfair-display);
  background: #edeeeb;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-playfair-display) !important;
}

:is(p, span) {
  font-family: var(--font-source-sans-3) !important;
}

.custom-marker-cluster {
  background: #4a5838;
  border-radius: 50%;
  color: #ffffff;
  line-height: 37px;
  text-align: center;
  font-size: x-large;
  padding-top: 5px;
}

.leaflet-popup-content {
  margin: 0 !important;
  width: fit-content !important;
  p {
    margin: 0 !important;
  }
}

.leaflet-popup-tip-container {
  display: none !important;
}

.leaflet-popup-content-wrapper {
  padding: 0 !important;
}

.leaflet-pane, .leaflet-top, .leaflet-bottom, .leaflet-control {
  z-index: inherit !important
}

.leaflet-geosearch-bar {
  z-index: 10 !important
}

.leaflet-popup {
  z-index: 10 !important
}

.leaflet-marker-icon {
  z-index: 10 !important
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 70%;
  --slide-height: 19rem;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__inner {
  display: block;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

svg.map path {
  fill: #6a573a;
}

svg.map path:hover {
  fill: #403423;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
